__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.spec

venv/
env/
ENV/
.venv/
.env/

*.dll
*.o
*.a
*.out

*.log
*.sqlite3
*.db
*.bak

.vscode/
.vscode/*
.history/
.code-workspace

*.code-runner
*.code-runner-temp*
*.cph
*.cph/*
tempCodeRunnerFile.py
tempCodeRunnerFile.*
*.code-workspace

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


.idea/
.cache/
.tmp/
*.tmp
*.swp
*.swo
